<div class="d-flex justify-content-evenly align-items-center body">
    <section>
        <img src="../../../assets/password_login.svg" alt="img_password_girl">
    </section>
    <section class="d-flex justify-content-center align-items-center my-5">
        <div class="form-signin m-auto d-flex justify-content-center">
            <div>

            </div>
            <form>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../../../assets/login_people.svg" alt="img_password_people" width="100" height="100">
                    <h1 class="h3 mb-3 fw-normal ps-3 font">LOGIN</h1>
                </div>

                <div class="form-floating mt-3">
                    <input type="email" class="form-control focus-ring-success" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mt-1">
                    <input type="password" class="form-control focus-ring-success" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-success w-100 py-2 mt-5 focus-ring-success" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-body-secondary text-end">© 2024</p>
            </form>
        </div>
    </section>
</div>